/* Agrega esto a un archivo CSS o en la sección de estilo de tu HTML */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

center {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #333;
}

h2 {
    color: #555;
}

h3 {
    color: #777;
}

a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #428bca;
}

a:hover {
    text-decoration: underline;
}
