/* Agrega esto a un archivo CSS o en la sección de estilo de tu HTML */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#capital, #lenguaje {
    font-weight: bold;
    color: #333;
}

#btnLimpiar {
    background-color: #d9534f;
}

#btnLimpiar:hover {
    background-color: #c9302c;
}
